* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #1946ba;
}

div {
    max-width: 960px;
    min-height: 180px;
    padding: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
}

blockquote {
    font-size: 20px;
}

button {
    background-color: #ec0b43;
    color: white;
    border: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
}